- content_for :header_tags do
  = javascript_include_tag 'application_public', integrity: true

- content_for :content do
  .container= yield
  .footer
    %span.domain= link_to Rails.configuration.x.local_domain, root_path
    %span.powered-by
      = t('generic.powered_by', link: link_to('Mastodon', 'https://github.com/tootsuite/mastodon')).html_safe
    %br
    = link_to image_tag("/assets/kofi2.png", style: "border: 0px; height: 26px; vertical-align: top;"), "https://ko-fi.com/A637AV5"
    = javascript_include_tag("https://liberapay.com/kdy/widgets/button.js")
    %noscript
      = link_to image_tag("https://liberapay.com/assets/widgets/donate.svg"), "https://liberapay.com/kdy/donate"

= render template: "layouts/application"
