- content_for :content do
  .container-alt= yield
  .footer
    - if !user_signed_in? && single_user_mode?
      %span.single-user-login
        = link_to t('auth.login'), new_user_session_path
        &mdash;
      %span.footer__domain= link_to site_hostname, about_path
    - else
      %span.footer__domain= link_to site_hostname, root_path
    %span.powered-by
      != t('generic.powered_by', link: link_to('https://joinmastodon.org') { image_tag asset_pack_path('logo_full.svg'), alt: 'Mastodon' })
    %br
    = link_to image_tag("https://img.shields.io/badge/ko--fi-donate-blue.svg?longCache=true&logo=paypal"), "https://ko-fi.com/A637AV5"
    = link_to image_tag("https://img.shields.io/liberapay/receives/kdy.svg?label=liberapay&logo=liberapay"), "https://liberapay.com/kdy/donate"

= render template: 'layouts/application'
